.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align:center;
  color: white;
  background-color:rgb(17, 81, 152);
  /* opacity: 0.9; */
}
.modal {
  font-size: 12px;
  background-color:rgb(17, 81, 152);
}
.modal > .header {
  width: 100%;
  color: white;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  color:rgb(235, 157, 22);
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  color:rgb(65, 9, 7);
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
/* .modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
} */
.button1  {
  border-radius:2px;

}
.button2  {
  border-radius:2px;
  margin-left: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
}
.button2:hover{
  background-color:#008CBA;
}
.button3  {
  border-radius:2px;
  margin-left:30px;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
}
.button3:hover {
  background-color:#f44336;
}
